<mat-card>
  <mat-card-subtitle>
    Power Consumption
  </mat-card-subtitle>
  <mat-card-title class="text-right text-large">
    <span class="value">{{ (consumptionKw | number:'0.1-1') || '-.-' }}</span>
    <small class="text-small">kW</small>
  </mat-card-title>
  <mat-card-footer>
    <div class="bar-labels mat-card-subtitle">
      <span *ngIf="maxAvailableChargeRateKw" class="charge">
        max. Input: {{ maxAvailableChargeRateKw | number:'0.1-1' }} kW
      </span>
      <span class="spacer"></span>
      <span *ngIf="maxAvailableDischargeRateKw" class="discharge text-right">
        max. Output: {{ maxAvailableDischargeRateKw | number:'0.1-1' }} kW
      </span>
    </div>
    <div *ngIf="hasPowerConsumption" class="consumption-bar">
      <mat-progress-bar
        class="charge inverted"
        [color]="batteryBarColor"
        [mode]="batteryChargeBarMode"
        [value]="currentChargingRate"></mat-progress-bar>
      <mat-progress-bar
        class="consume"
        [color]="batteryBarColor"
        [mode]="batteryDischargeBarMode"
        [value]="currentDischargingRate"></mat-progress-bar>
    </div>
    <mat-progress-bar *ngIf="!hasPowerConsumption"
      mode="buffer"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
