<app-page-frame pageTitle="Debug Readout">
  <mat-nav-list>
    <mat-list-item (click)="reconnect()">
      <mat-icon matListIcon>{{ healthCheckIcon }}</mat-icon>
      <p matLine>Backend Connection</p>
      <code matLine>{{ backendUrl }}</code>
    </mat-list-item>
  </mat-nav-list>

  <mat-list *ngIf="data" dense>
    <h3 matSubheader>Data</h3>

    <mat-list-item>
      <mat-icon matListIcon>schedule</mat-icon>
      <p matLine>Last updated</p>
      <p matLine>{{ data.lastCollected }}</p>
    </mat-list-item>

    <mat-list-item *ngFor="let key of data.keys">
      <mat-icon matListIcon>{{ getKeyIcon(key) }}</mat-icon>
      <code matLine>{{ key }}</code>
      <code matLine>{{ data.getFieldValue(key) }}</code>
    </mat-list-item>
  </mat-list>
</app-page-frame>
