<ng-container *ngIf="size === 'full'">
  <button mat-fab (click)="onNavButtonClicked()">
    <mat-icon>menu</mat-icon>
  </button>
</ng-container>
<ng-container *ngIf="size === 'mini'">
  <button mat-mini-fab (click)="onNavButtonClicked()">
    <mat-icon>menu</mat-icon>
  </button>
</ng-container>
