// Fonts
@import '~@fontsource/ibm-plex-sans';
@import '~@fontsource/roboto';
@import '~@fontsource/material-icons';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();
// Define default light theme
$fleet-light-primary: mat-palette($mat-green);
$fleet-light-accent: mat-palette($mat-amber);
$fleet-light-warn: mat-palette($mat-deep-orange);
$fleet-light-theme: mat-light-theme($fleet-light-primary, $fleet-light-accent, $fleet-light-warn);


// Define a dark theme
$fleet-dark-primary: mat-palette($mat-green);
$fleet-dark-accent:  mat-palette($mat-amber, 900);
$fleet-dark-warn:    mat-palette($mat-deep-orange);
$fleet-dark-theme:   mat-dark-theme($fleet-dark-primary, $fleet-dark-accent, $fleet-dark-warn);

// Default Bright Theme
@include angular-material-theme($fleet-light-theme);

html, body { height: 100%; }
body { margin: 0; }
* { font-family: 'IBM Plex Sans', sans-serif; }

.active {
  background-color: rgba(0, 0, 0, 0.04);
}

// Set Dark Theme
body[data-theme="dark"] {
  @include angular-material-theme($fleet-dark-theme);

  .active {
    background-color: rgba(255, 255, 255, 0.04);
  }
}
