<div class="dashboard">
  <div class="widget">
    <app-percentage-widget label="State of Charge"
      unit="%"
      [value]="batterySoC | async"
      [absoluteValue]="availableEnergy | async"
      absoluteUnit="kWh"
      numberFormat="0.2-2"
      defaultValue="--.--"
    ></app-percentage-widget>
  </div>

  <div class="widget power-consumption">
    <app-power-consumption-widget
      [consumptionKw]="batteryPower | async"
      [maxAvailableChargeRateKw]="availableChargingPower | async"
      [maxAvailableDischargeRateKw]="availableDischargePower | async"
    ></app-power-consumption-widget>
  </div>

  <div class="widget">
    <app-simple-widget
      label="Aux Battery Voltage"
      unit="V"
      [value]="auxBatteryVoltage | async"
      numberFormat="0.1-1"
      defaultValue="---"
    ></app-simple-widget>
  </div>

  <!-- -->
  <app-simple-widget label="Battery Temperature"
      unit="°C"
      [value]="batteryTemperature | async"
      numberFormat="0.1-1"
      defaultValue="--.-"
  ></app-simple-widget>

  <app-boolean-widget label="Eco Mode"
    displayMode="both"
    onIcon="eco"
    offIcon="bolt"
    noValueIcon="error_outline"
    [value]="isEcoModeEnabled | async"
  ></app-boolean-widget>

  <app-simple-widget label="Speed"
                     unit="km/h"
                     [value]="vehicleSpeed | async"
                     numberFormat="0.0-0"
                     defaultValue="---"
  ></app-simple-widget>

  <app-simple-widget label="Altitude"
                     unit="m"
                     [value]="gpsAltitude | async"
                     numberFormat="0.0-0"
                     defaultValue="---"
  ></app-simple-widget>

  <!-- -->
  <app-simple-widget label="Ext. Temperature"
      unit="°C"
      [value]="exteriorTemperature | async"
      numberFormat="0.1-1"
      defaultValue="--.-"
  ></app-simple-widget>

  <app-simple-widget label="Cabin Temperature"
      unit="°C"
      [value]="cabinTemperature | async"
      numberFormat="0.1-1"
      defaultValue="--.-"
  ></app-simple-widget>

  <app-simple-widget label="GPS Fix"
      [value]="gpsFixModeStr | async"
      unit="Fix"
  ></app-simple-widget>

  <app-simple-widget label="GPS Accuracy"
      prefix="±"
      [value]="gpsAccuracy | async"
      unit="m"
      numberFormat="0.0-0"
      defaultValue="---"
  ></app-simple-widget>

  <div class="full-width">
    {{ currentTime }}
    &ndash;
    <span *ngIf="!(showFailure | async)">
      Last Report: {{ lastReportedTime | async }}
    </span>
    <span (click)="showFailureReason()" *ngIf="showFailure | async" class="failure">
      Last <b>Fail</b>: {{ lastFailTime | async }}
    </span>
  </div>
</div>

<app-nav-toggle-button size="mini"></app-nav-toggle-button>
