.dashboard {
  width: 100%;
  height: 100vh;

  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  //grid-template-rows: repeat(3, 1fr);

  & > * {
    &.widget {
      display: flex;
      flex-flow: column;
      align-self: flex-end;
      align-content: flex-end;

      & > * {
        flex: 0 1 auto;
      }

      & > .spacer {
        flex: 1;
      }
    }
    &.power-consumption {
      grid-column: 2 / 4;
    }
    &.full-width {
      grid-column: 1 / 5;
      text-align: center;
    }
  }
}

span.label {
  display: block;
  font-weight: bold;
}
span.unit {
  font-style: italic;
  &::before {
    content: " ";
  }
}

.failure {
  color: orange;
  cursor: pointer;
}
