.consumption-bar {
  display: flex;
  flex-direction: row;

  mat-progress-bar.charge {
    flex: 1;
  }
  mat-progress-bar.consume {
    flex: 2;
  }
}

mat-progress-bar.inverted {
  transform: scale(-1, 1);
}
