<!-- Car Battery -->
<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>
      battery_full
    </mat-icon>
    <mat-card-title>
      Battery Info
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>battery_full</mat-icon>
        <h3 matLine>State of Charge (SoC)</h3>
        <p matLine>
          <span>{{ (stateOfCharge | async | number:'1.2-2') || '-' }} %</span>
        </p>
        <p matLine>
          {{ (availableEnergy | async | number:'1.3-3') || '-' }} kWh
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>thermostat</mat-icon>
        <h3 matLine>Temperature</h3>
        <p matLine>
          <span>{{ (batteryTemperature | async | number:'1.1-1') || '-' }} °C</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon *ngIf="isEcoModeEnabled | async">eco</mat-icon>
        <mat-icon matListIcon *ngIf="!(isEcoModeEnabled | async)">power_input</mat-icon>
        <h3 matLine>Power</h3>
        <p matLine>
          <span>{{ (currentPowerOutput | number:'1.1-1') || '-' }} kW</span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>
    <div *ngIf="hasPowerOutput" class="consumption-bar">
      <mat-progress-bar
        class="charge inverted"
        [color]="batteryBarColor"
        [mode]="batteryChargeBarMode"
        [value]="currentChargingRate"></mat-progress-bar>
      <mat-progress-bar
        class="consume"
        [color]="batteryBarColor"
        [mode]="batteryBarMode"
        [value]="currentConsumption"></mat-progress-bar>
    </div>
    <mat-progress-bar *ngIf="!hasPowerOutput"
      mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<!-- GPS -->
<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>satellite_alt</mat-icon>
    <mat-card-title>
      GPS
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>gps_fixed</mat-icon>
        <h3 matLine>Location</h3>
        <p matLine>
          <span>{{ gpsLatitude | async | number:'1.7-7' }}°</span>
        </p>
        <p matLine>
          <span>{{ gpsLongitude | async | number:'1.7-7' }}°</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>height</mat-icon>
        <h3 matLine>Altitude</h3>
        <p matLine>
          <span>{{ gpsAltitude | async | number:'1.0-0' }} m</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>height</mat-icon>
        <h3 matLine>Accuracy</h3>
        <p matLine>
          <span>{{ gpsAccuracy | async | number:'1.1-1' }} m</span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<app-nav-toggle-button></app-nav-toggle-button>
