<mat-card>
  <mat-card-subtitle *ngIf="!!label">{{ label }}</mat-card-subtitle>
  <mat-card-title class="text-right">
    <ng-container *ngIf="hasValue">
      <ng-container *ngIf="isEnabled">
        <ng-container *ngIf="showText">
          <span>{{ onLabel }}</span>
        </ng-container>
        <ng-container *ngIf="showIcon">
          <mat-icon class="value">{{ onIcon }}</mat-icon>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isDisabled">
        <ng-container *ngIf="showText">
          <span class="value">{{ offLabel }}</span>
        </ng-container>
        <ng-container *ngIf="showIcon">
          <mat-icon>{{ offIcon }}</mat-icon>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!hasValue">
      <ng-container *ngIf="showText">
        <span class="value">{{ noValueLabel }}</span>
      </ng-container>
      <ng-container *ngIf="showIcon">
        <mat-icon>{{ noValueIcon }}</mat-icon>
      </ng-container>
    </ng-container>
  </mat-card-title>
</mat-card>
