<mat-sidenav-container fullscreen>
  <mat-sidenav fixedInViewport
    #sideNav
    mode="side"
    style="min-width: 300px; max-width: 50vw;">
    <mat-list>
      <mat-list-item class="brand">
        CarPi WebUI
      </mat-list-item>
    </mat-list>

    <mat-nav-list>
      <!--
      <mat-list-item routerLink="home" (click)="onNavLinkClicked()">
        <mat-icon>home</mat-icon>
        Home
      </mat-list-item>
      <mat-list-item routerLink="dash" (click)="onNavLinkClicked()">
        <mat-icon>speed</mat-icon>
        Dashboard
      </mat-list-item>
      -->
      <mat-list-item routerLink="dash/drive" routerLinkActive="active" (click)="onNavLinkClicked()">
        <mat-icon>space_dashboard</mat-icon>
        Dashboard
      </mat-list-item>
      <mat-list-item routerLink="dash/better" routerLinkActive="active" (click)="onNavLinkClicked()">
        <mat-icon>space_dashboard</mat-icon>
        Better Dashboard
      </mat-list-item>
      <mat-list-item routerLink="dash/car" routerLinkActive="active" (click)="onNavLinkClicked()">
        <mat-icon>speed</mat-icon>
        Car Dashboard
      </mat-list-item>
      <mat-list-item routerLink="history" routerLinkActive="active" (click)="onNavLinkClicked()">
        <mat-icon>show_chart</mat-icon>
        Consumption History
      </mat-list-item>
      <mat-list-item routerLink="command" routerLinkActive="active" (click)="onNavLinkClicked()">
        <mat-icon>bolt</mat-icon>
        Command
      </mat-list-item>
      <mat-list-item routerLink="about" routerLinkActive="active" (click)="onNavLinkClicked()">
        <mat-icon>info_outline</mat-icon>
        Debug Readout
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <mat-list-item (click)="onForceReloadClicked()">
        <mat-icon>refresh</mat-icon>
        Force Reload App
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <mat-slide-toggle
          [(ngModel)]="isThemeDark"
          (change)="onLightDarkModeToggled($event)">
          <mat-icon>{{ themeIcon }}</mat-icon>
        </mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--
    <mat-toolbar color="primary" (click)="sideNav.toggle()">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>CarPi</span>
    </mat-toolbar>
    -->

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
