.brand {
  font-weight: bold;
}

mat-toolbar {
  position: fixed;
  z-index: 999;
}

mat-list-item.active {
  background-color: rgba(0, 0, 0, 0.04);
}

body[data-theme="dark"] {
  mat-list-item.active {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

/*
.page-content {
  margin-top: 64px;
  margin-bottom: 64px;
}
*/
