<h2>
  <mat-icon *ngIf="data.icon">{{ data.icon }}</mat-icon>
  {{ data.title }}
</h2>
<p class="message">{{ data.message }}</p>
<div class="buttons">
  <button mat-button (click)="confirm()" [color]="data.color || 'primary'">
    Yes
  </button>
  <button mat-button (click)="cancel()">
    No
  </button>
</div>
