<app-page-frame pageTitle="Commands">
  <mat-accordion>
    <!-- Power Commands -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>power_settings_new</mat-icon>
          <b>Power Commands</b>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item (click)="shutdownSystem()">
          <mat-icon matListIcon>power_settings_new</mat-icon>
          <p matLine>Shutdown CarPi</p>
        </mat-list-item>
        <mat-list-item (click)="rebootSystem()">
          <mat-icon matListIcon>restart_alt</mat-icon>
          <p matLine>Reboot CarPi</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- Restart Service -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>miscellaneous_services</mat-icon>
        <b>Control Services</b>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item *ngFor="let serviceData of servicesToRestart"
                       (click)="restartService(serviceData)">
          <mat-icon matListIcon>{{ serviceData[2] || 'miscellaneous_services' }}</mat-icon>
          <p matLine>{{ serviceData[1] }}</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- Update Service -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>update</mat-icon>
          <b>Update Services</b>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item *ngFor="let serviceData of servicesToUpdate"
                       (click)="updateService(serviceData[0])">
          <mat-icon matListIcon>{{ serviceData[2] || 'update' }}</mat-icon>
          <p matLine>{{ serviceData[1] }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sendCommand('update.webui')">
          <mat-icon matListIcon>update</mat-icon>
          <p matLine>Web UI</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- Other -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>bolt</mat-icon>
          <b>Other Commands</b>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item (click)="sendCommand('sys.test')">
          <mat-icon matListIcon>bolt</mat-icon>
          <p matLine>Send Test Command</p>
        </mat-list-item>
      </mat-nav-list>

      <mat-list [formGroup]="commandForm">
        <mat-list-item>
          <mat-form-field>
            <mat-label>Command Name</mat-label>
            <input matInput formControlName="commandName">
            <button matSuffix
                    mat-icon-button
                    (click)="onSendCommandClicked()">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</app-page-frame>
