<mat-card>
  <mat-card-subtitle *ngIf="!!label">{{ label }}</mat-card-subtitle>
  <mat-card-title class="text-right">
    <small *ngIf="hasPrefix" class="text-small">{{ prefix }}</small>
    <span class="value" *ngIf="hasValue">
      <ng-container *ngIf="!numberFormat">{{ value }}</ng-container>
      <ng-container *ngIf="numberFormat">{{ value | number:numberFormat }}</ng-container>
    </span>
    <span class="value" *ngIf="!hasValue && hasDefaultValue">{{ defaultValue }}</span>
    <small *ngIf="unit" class="text-small">{{ unit }}</small>
  </mat-card-title>
</mat-card>
