@import '../simple-widget/simple-widget.component.scss';

.bar-labels {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;

  & > span {
    flex: 0 1 auto;

    &.spacer {
      flex: 1;

      &.space-2 { flex: 2; }
      &.space-3 { flex: 3; }
    }
  }
}
