<mat-card>
  <mat-card-subtitle *ngIf="!!label">{{ label }}</mat-card-subtitle>
  <mat-card-title class="text-right">
    <span class="value" *ngIf="hasValue">
      <ng-container *ngIf="!numberFormat">{{ value }}</ng-container>
      <ng-container *ngIf="numberFormat">{{ value | number:numberFormat }}</ng-container>
    </span>
    <span class="value" *ngIf="!hasValue && hasDefaultValue">{{ defaultValue }}</span>
    <small *ngIf="unit" class="text-small">{{ unit }}</small>
  </mat-card-title>
  <mat-card-footer>
    <div class="bar-labels mat-card-subtitle" *ngIf="hasAbsoluteValue">
      <span class="spacer"></span>
      <span>{{ absoluteValue | number:numberFormat }} {{ absoluteUnit }}</span>
    </div>
    <mat-progress-bar [value]="progressBarValue"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
