<div class="widget-host">
  <div class="widget power-consumption">
    <app-power-consumption-widget [consumptionKw]="currentPowerOutput"
                                  [maxAvailableChargeRateKw]="availableChargingPower | async"
                                  [maxAvailableDischargeRateKw]="availableDischargePower | async"
    ></app-power-consumption-widget>
  </div>

  <div class="widget">
    <app-percentage-widget label="State of Charge"
                       unit="%"
                       [value]="batterySoC | async"
                       numberFormat="0.2-2"
                       defaultValue="--.--"
    ></app-percentage-widget>
  </div>

  <div class="widget">
    <app-simple-widget label="Available Energy"
                       unit="kWh"
                       [value]="availableEnergy | async"
                       numberFormat="0.2-2"
                       defaultValue="--.--"
    ></app-simple-widget>
  </div>

  <div class="widget">
    <app-simple-widget label="Battery Temperature"
                       unit="°C"
                       [value]="batteryTemperature | async"
                       numberFormat="0.1-1"
                       defaultValue="--.-"
    ></app-simple-widget>
  </div>

  <div class="widget">
    <app-boolean-widget label="Eco Mode"
                        displayMode="both"
                        onIcon="eco"
                        offIcon="bolt"
                        noValueIcon="error_outline"
                        [value]="isEcoModeEnabled | async"
    ></app-boolean-widget>
  </div>

  <div class="widget">
    <app-simple-widget label="Cabin Temperature"
                       unit="°C"
                       [value]="cabinTemperature | async"
                       numberFormat="0.1-1"
                       defaultValue="--.-"
    ></app-simple-widget>
  </div>

  <div class="widget">
    <app-simple-widget label="Exterior Temperature"
                       unit="°C"
                       [value]="exteriorTemperature | async"
                       numberFormat="0.1-1"
                       defaultValue="--.-"
    ></app-simple-widget>
  </div>

  <div class="widget">
    <app-simple-widget label="Speed"
                       unit="km/h"
                       [value]="vehicleSpeed | async"
                       numberFormat="0.0-0"
                       defaultValue="---"
    ></app-simple-widget>
  </div>

  <div class="widget">
    <app-simple-widget label="Aux Battery Voltage"
                       unit="V"
                       [value]="auxBatteryVoltage | async"
                       numberFormat="0.1-1"
                       defaultValue="---"
    ></app-simple-widget>
  </div>
</div>

<button *ngIf="!isBackendAlive"
        mat-fab
        color="warn"
        class="warn-fab">
  <mat-icon>warning</mat-icon>
</button>

<app-nav-toggle-button></app-nav-toggle-button>
