.widget-host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 599.98px) and (orientation: portrait) {
    grid-template-columns: repeat(2, 1fr);
  }

  column-gap: 10px;
  row-gap: 10px;

  .widget {
    &.power-consumption {
      grid-column: 1 / -1;
    }
  }
}

.warn-fab {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
