<h3>
  <b>{{ serviceName }}</b>
</h3>
<mat-nav-list>
  <mat-list-item (click)="closeDialog('restart')">
    <mat-icon matListIcon>refresh</mat-icon>
    <h3 matLine>Restart Service</h3>
    <small matLine>Restarts {{ serviceName }}</small>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list>
  <mat-list-item (click)="closeDialog('start')">
    <mat-icon matListIcon>play_arrow</mat-icon>
    <h3 matLine>Start Service</h3>
    <small matLine>Starts {{ serviceName }}</small>
  </mat-list-item>
  <mat-list-item *ngIf="!isStopDisabled" (click)="closeDialog('stop')">
    <mat-icon matListIcon>stop</mat-icon>
    <h3 matLine>Stop Service</h3>
    <small matLine>Stops {{ serviceName }}</small>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list>
  <mat-list-item (click)="closeDialog()">
    <mat-icon matListIcon>clear</mat-icon>
    <h3 matLine>Cancel</h3>
  </mat-list-item>
</mat-nav-list>
