<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuButtonClicked()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ pageTitle }}</span>
</mat-toolbar>
<ng-content></ng-content>
