<div echarts (chartInit)="onChartInit($event)" [options]="chartOption" class="demo-chart"></div>

<button class="auto-scroll-button"
        [color]="autoScroll ? 'primary' : undefined"
        (click)="toggleAutoScroll()"
        mat-mini-fab>
  <mat-icon>auto_graph</mat-icon>
</button>
<app-nav-toggle-button size="mini"></app-nav-toggle-button>
