.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-small {
  font-weight: initial;
  font-size: small;
}
.text-large {
  font-size: 5em;
}

.value {
  margin-right: 5px;
}
